@font-face {
	font-family: 'icomoon';
	src:url('icon/fonts/icomoon.eot?cuvtp');
	src:url('icon/fonts/icomoon.eot?cuvtp#iefix') format('embedded-opentype'),
		url('icon/fonts/icomoon.ttf?cuvtp') format('truetype'),
		url('icon/fonts/icomoon.woff?cuvtp') format('woff'),
		url('icon/fonts/icomoon.svg?cuvtp#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.iconing_ui_dialog_backdrop{
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	font-size:0;
	z-index:10000;
	text-align:center;
	box-sizing:border-box;
	background:rgba(95, 95, 95, 0.5);
	*{outline:none;}
	
	&:after{
		content:"";
		display:inline-block;
		height:100%;
		vertical-align:middle;
	}
	
}

.iconing_ui_dialog_body{
	box-sizing:border-box;
	background:#fff;
	padding:5px;
	text-align:left;
	font-size:16px;
	display:inline-block;
	vertical-align:middle;
	box-shadow:1px 5px 10px rgba(0,0,0,.4);
	overflow: hidden;
	border-radius:2px;
	animation-duration: 0.5s;
	-webkit-animation-duration: 0.9s;
	-webkit-animation-name: dropDown;
	animation-name: dropDown;
}
.iconing_ui_dialog_title{
	box-sizing:border-box;
	line-height:1em;
	padding:13px 20px 11px;
	padding-right:40px;
	font-size:20px;
	margin:-5px;
	margin-bottom:0;
	box-shadow:0 0 5px #dbdbdb;
}
.iconing_ui_dialog_header{
	box-sizing:border-box;
	position:relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.iconing_ui_dialog_content{
	box-sizing:border-box;
	padding:10px 5px;
	padding-bottom:0;
	min-height:100px;
	min-width:150px;
	&:empty{
		background:url(loading.gif) center center no-repeat;
	}
}
.iconing_ui_dialog_close_btn{
	box-sizing:border-box;
	outline:none;
	background:none!important;
	position:absolute;
	margin:auto 0;
	padding:0;
	height:1.5em;
	width:1.5em;
	line-height:1.5em;
	font-size:1.3em;
	border:none;
	color:#fff;
	bottom:0;
	right:5px;
	top:0;
	color:#FF6600;
	
	&:hover{
		text-shadow:0 0 2px rgba(255, 102, 0, 0.8);
	}
	
	&:before {
		font-family: 'icomoon' !important;
		speak: none;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		content: "\e903";
	}
}
/*alert 弹窗*/
.iconing_ui_alert_body{
	box-sizing:border-box;
	padding:15px!important;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.iconing_ui_alert_title{
	box-sizing:border-box;
	font-size:16px;
}

.iconing_ui_content{
	box-sizing:border-box;
	padding:12px 20px;
	margin-top:10px;
	min-width:170px;
}

.iconing_ui_alert_btn{
	box-sizing:border-box;
	margin-top:12px;
	text-align:right;
	
	
	button{
		box-sizing:border-box;
		border:none;
		background:blue;
		padding:6px 14px;
		color:#fff;
		font-size:14px;
	}
}

.iconing_ui_btn_certain{
	box-sizing:border-box;
	margin-left:10px;
	background:rgba(241, 170, 64, 0.8);
	&:hover{
		background:#f1aa40;
	}
}

/**
 * 旋转进入
 */
@keyframes rollIn{
	0% {
		opacity: 0;
		-webkit-transform: translateX(-100%) rotate(-120deg);
		-ms-transform: translateX(-100%) rotate(-120deg);
		transform: translateX(-100%) rotate(-120deg);
	}
	
	100% {
		opacity: 1;
		-webkit-transform: translateX(0) rotate(0);
		-ms-transform: translateX(0) rotate(0);
		transform: translateX(0) rotate(0);
	}
}

@keyframes bounceInRight {
	0%, 100%, 60%, 75%, 90% {
		-webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
		transition-timing-function: cubic-bezier(0.215, .61, .355, 1)
	}
	0% {
		opacity: 0;
		-webkit-transform: translate3d(3000px, 0, 0);
		-ms-transform: translate3d(3000px, 0, 0);
		transform: translate3d(3000px, 0, 0)
	}
	60% {
		opacity: 1;
		-webkit-transform: translate3d(-25px, 0, 0);
		-ms-transform: translate3d(-25px, 0, 0);
		transform: translate3d(-25px, 0, 0)
	}
	75% {
		-webkit-transform: translate3d(10px, 0, 0);
		-ms-transform: translate3d(10px, 0, 0);
		transform: translate3d(10px, 0, 0)
	}
	90% {
		-webkit-transform: translate3d(-5px, 0, 0);
		-ms-transform: translate3d(-5px, 0, 0);
		transform: translate3d(-5px, 0, 0)
	}
	100% {
		-webkit-transform: none;
		-ms-transform: none;
		transform: none
	}
}

/**
 * 	
 */
@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translate(0px, -70px);
	}
	100% {
		opacity: 1;
		transform: translate(0px, 0px);
	}
}

@keyframes fadeOutDown {
	0% {
		opacity: 1;
		transform: translate(0px, 0px);
	}
	100% {
		opacity: 0;
		transform: translate(0px, -70px);
	}
}

/**
 * run in
 */

@keyframes runIn{
	-webkit-transition: all 300ms cubic-bezier(0.085, 0.430, 0.050, 1); /* older webkit */
	-webkit-transition: all 300ms cubic-bezier(0.085, 0.430, 0.050, 1.475); 
	-moz-transition: all 300ms cubic-bezier(0.085, 0.430, 0.050, 1.475); 
	-o-transition: all 300ms cubic-bezier(0.085, 0.430, 0.050, 1.475); 
	transition: all 300ms cubic-bezier(0.085, 0.430, 0.050, 1.475); /* custom */
}

/**
 * 弹入 
 */
@-webkit-keyframes bounceIn {
	0%,20%,40%,60%,80%,100% {
		transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
	}
	0% {
		-webkit-transform: scale3d(0, 0, 0);
		transform: scale3d(0, 0, 0)
	}
	20% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1);
		transform: scale3d(1.1, 1.1, 1.1)
	}
	40% {
		-webkit-transform: scale3d(0.9, 0.9, 0.9);
		transform: scale3d(0.9, 0.9, 0.9)
	}
	60% {
		-webkit-transform: scale3d(1.03, 1.03, 1.03);
		transform: scale3d(1.03, 1.03, 1.03)
	}
	80% {
		-webkit-transform: scale3d(0.97, 0.97, 0.97);
		transform: scale3d(0.97, 0.97, 0.97)
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1)
	}
}

/**
 * 泼溅 
 */
@keyframes splat {
	0% {
		transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1);
	}
	2.92% {
		transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -135.218, 0, 0, 1);
	}
	3.37% {
		transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -114.871, 0, 0, 1);
	}
	3.47% {
		transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -110.596, 0, 0, 1);
	}
	4.58% {
		transform: matrix3d(2.061, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -68.65, 0, 0, 1);
	}
	5.69% {
		transform: matrix3d(2.321, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -36.551, 0, 0, 1);
	}
	5.76% {
		transform: matrix3d(2.32, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -34.768, 0, 0, 1);
	}
	7.41% {
		transform: matrix3d(1.99, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -3.804, 0, 0, 1);
	}
	7.51% {
		transform: matrix3d(1.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -2.454, 0, 0, 1);
	}
	7.88% {
		transform: matrix3d(1.771, 0, 0, 0, 0, 1.062, 0, 0, 0, 0, 1, 0, 2.008, 0, 0, 1);
	}
	8.68% {
		transform: matrix3d(1.408, 0, 0, 0, 0, 1.181, 0, 0, 0, 0, 1, 0, 9.646, 0, 0, 1);
	}
	10.03% {
		transform: matrix3d(0.982, 0, 0, 0, 0, 1.333, 0, 0, 0, 0, 1, 0, 16.853, 0, 0, 1);
	}
	10.85% {
		transform: matrix3d(0.822, 0, 0, 0, 0, 1.398, 0, 0, 0, 0, 1, 0, 18.613, 0, 0, 1);
	}
	11.53% {
		transform: matrix3d(0.732, 0, 0, 0, 0, 1.439, 0, 0, 0, 0, 1, 0, 18.992, 0, 0, 1);
	}
	12.22% {
		transform: matrix3d(0.672, 0, 0, 0, 0, 1.469, 0, 0, 0, 0, 1, 0, 18.618, 0, 0, 1);
	}
	14.18% {
		transform: matrix3d(0.612, 0, 0, 0, 0, 1.501, 0, 0, 0, 0, 1, 0, 15.054, 0, 0, 1);
	}
	14.37% {
		transform: matrix3d(0.612, 0, 0, 0, 0, 1.501, 0, 0, 0, 0, 1, 0, 14.604, 0, 0, 1);
	}
	19.23% {
		transform: matrix3d(0.737, 0, 0, 0, 0, 1.371, 0, 0, 0, 0, 1, 0, 3.855, 0, 0, 1);
	}
	20.01% {
		transform: matrix3d(0.763, 0, 0, 0, 0, 1.338, 0, 0, 0, 0, 1, 0, 2.724, 0, 0, 1);
	}
	23.05% {
		transform: matrix3d(0.856, 0, 0, 0, 0, 1.211, 0, 0, 0, 0, 1, 0, 0.036, 0, 0, 1);
	}
	25.75% {
		transform: matrix3d(0.923, 0, 0, 0, 0, 1.114, 0, 0, 0, 0, 1, 0, -0.709, 0, 0, 1);
	}
	26.94% {
		transform: matrix3d(0.947, 0, 0, 0, 0, 1.078, 0, 0, 0, 0, 1, 0, -0.76, 0, 0, 1);
	}
	31.58% {
		transform: matrix3d(1.009, 0, 0, 0, 0, 0.987, 0, 0, 0, 0, 1, 0, -0.406, 0, 0, 1);
	}
	31.73% {
		transform: matrix3d(1.01, 0, 0, 0, 0, 0.986, 0, 0, 0, 0, 1, 0, -0.392, 0, 0, 1);
	}
	37.32% {
		transform: matrix3d(1.029, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, -0.03, 0, 0, 1);
	}
	38.15% {
		transform: matrix3d(1.029, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, -0.008, 0, 0, 1);
	}
	42.35% {
		transform: matrix3d(1.022, 0, 0, 0, 0, 0.969, 0, 0, 0, 0, 1, 0, 0.03, 0, 0, 1);
	}
	48.9% {
		transform: matrix3d(1.007, 0, 0, 0, 0, 0.99, 0, 0, 0, 0, 1, 0, 0.009, 0, 0, 1);
	}
	57.77% {
		transform: matrix3d(0.998, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, -0.001, 0, 0, 1);
	}
	60.47% {
		transform: matrix3d(0.998, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, -0.001, 0, 0, 1);
	}
	69.36% {
		transform: matrix3d(0.999, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	83.61% {
		transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	100% {
		transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
}

/**
 * 跌落
 */
@keyframes dropDown {
	0% {
		-webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -15, 0, 1);
		transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -15, 0, 1);
		opacity: 0;
	}
	4% {
		-webkit-transform: matrix3d(0.96758, 0, 0, 0, 0, .96758, 0, 0, 0, 0, 1, 0, 0, -8.46592, 0, 1);
		transform: matrix3d(0.96758, 0, 0, 0, 0, .96758, 0, 0, 0, 0, 1, 0, 0, -8.46592, 0, 1);
	}
	8% {
		-webkit-transform: matrix3d(0.96176, 0, 0, 0, 0, .96176, 0, 0, 0, 0, 1, 0, 0, -4.91725, 0, 1);
		transform: matrix3d(0.96176, 0, 0, 0, 0, .96176, 0, 0, 0, 0, 1, 0, 0, -4.91725, 0, 1);
	}
	12% {
		-webkit-transform: matrix3d(0.96958, 0, 0, 0, 0, .96958, 0, 0, 0, 0, 1, 0, 0, -.25224, 0, 1);
		transform: matrix3d(0.96958, 0, 0, 0, 0, .96958, 0, 0, 0, 0, 1, 0, 0, -.25224, 0, 1);
		opacity: 1;
	}
	16% {
		-webkit-transform: matrix3d(0.98144, 0, 0, 0, 0, .98144, 0, 0, 0, 0, 1, 0, 0, 1.26207, 0, 1);
		transform: matrix3d(0.98144, 0, 0, 0, 0, .98144, 0, 0, 0, 0, 1, 0, 0, 1.26207, 0, 1);
	}
	20% {
		-webkit-transform: matrix3d(0.99188, 0, 0, 0, 0, .99188, 0, 0, 0, 0, 1, 0, 0, 1.76942, 0, 1);
		transform: matrix3d(0.99188, 0, 0, 0, 0, .99188, 0, 0, 0, 0, 1, 0, 0, 1.76942, 0, 1);
	}
	24% {
		-webkit-transform: matrix3d(0.99884, 0, 0, 0, 0, .99884, 0, 0, 0, 0, 1, 0, 0, 1.60106, 0, 1);
		transform: matrix3d(0.99884, 0, 0, 0, 0, .99884, 0, 0, 0, 0, 1, 0, 0, 1.60106, 0, 1);
	}
	28% {
		-webkit-transform: matrix3d(1.0023, 0, 0, 0, 0, 1.0023, 0, 0, 0, 0, 1, 0, 0, 1.10713, 0, 1);
		transform: matrix3d(1.0023, 0, 0, 0, 0, 1.0023, 0, 0, 0, 0, 1, 0, 0, 1.10713, 0, 1);
	}
	32% {
		-webkit-transform: matrix3d(1.00324, 0, 0, 0, 0, 1.00324, 0, 0, 0, 0, 1, 0, 0, .56005, 0, 1);
		transform: matrix3d(1.00324, 0, 0, 0, 0, 1.00324, 0, 0, 0, 0, 1, 0, 0, .56005, 0, 1);
	}
	36% {
		-webkit-transform: matrix3d(1.00278, 0, 0, 0, 0, 1.00278, 0, 0, 0, 0, 1, 0, 0, .12148, 0, 1);
		transform: matrix3d(1.00278, 0, 0, 0, 0, 1.00278, 0, 0, 0, 0, 1, 0, 0, .12148, 0, 1);
	}
	40% {
		-webkit-transform: matrix3d(1.00181, 0, 0, 0, 0, 1.00181, 0, 0, 0, 0, 1, 0, 0, -.14782, 0, 1);
		transform: matrix3d(1.00181, 0, 0, 0, 0, 1.00181, 0, 0, 0, 0, 1, 0, 0, -.14782, 0, 1);
	}
	44% {
		-webkit-transform: matrix3d(1.00088, 0, 0, 0, 0, 1.00088, 0, 0, 0, 0, 1, 0, 0, -.25729, 0, 1);
		transform: matrix3d(1.00088, 0, 0, 0, 0, 1.00088, 0, 0, 0, 0, 1, 0, 0, -.25729, 0, 1);
	}
	48% {
		-webkit-transform: matrix3d(1.00021, 0, 0, 0, 0, 1.00021, 0, 0, 0, 0, 1, 0, 0, -.25225, 0, 1);
		transform: matrix3d(1.00021, 0, 0, 0, 0, 1.00021, 0, 0, 0, 0, 1, 0, 0, -.25225, 0, 1);
	}
	52% {
		-webkit-transform: matrix3d(0.99986, 0, 0, 0, 0, .99986, 0, 0, 0, 0, 1, 0, 0, -.18613, 0, 1);
		transform: matrix3d(0.99986, 0, 0, 0, 0, .99986, 0, 0, 0, 0, 1, 0, 0, -.18613, 0, 1);
	}
	56% {
		-webkit-transform: matrix3d(0.99973, 0, 0, 0, 0, .99973, 0, 0, 0, 0, 1, 0, 0, -.10336, 0, 1);
		transform: matrix3d(0.99973, 0, 0, 0, 0, .99973, 0, 0, 0, 0, 1, 0, 0, -.10336, 0, 1);
	}
	60% {
		-webkit-transform: matrix3d(0.99975, 0, 0, 0, 0, .99975, 0, 0, 0, 0, 1, 0, 0, -.03233, 0, 1);
		transform: matrix3d(0.99975, 0, 0, 0, 0, .99975, 0, 0, 0, 0, 1, 0, 0, -.03233, 0, 1);
	}
	64% {
		-webkit-transform: matrix3d(0.99983, 0, 0, 0, 0, .99983, 0, 0, 0, 0, 1, 0, 0, .01446, 0, 1);
		transform: matrix3d(0.99983, 0, 0, 0, 0, .99983, 0, 0, 0, 0, 1, 0, 0, .01446, 0, 1);
	}
	68% {
		-webkit-transform: matrix3d(0.99991, 0, 0, 0, 0, .99991, 0, 0, 0, 0, 1, 0, 0, .03631, 0, 1);
		transform: matrix3d(0.99991, 0, 0, 0, 0, .99991, 0, 0, 0, 0, 1, 0, 0, .03631, 0, 1);
	}
	72% {
		-webkit-transform: matrix3d(0.99997, 0, 0, 0, 0, .99997, 0, 0, 0, 0, 1, 0, 0, .03908, 0, 1);
		transform: matrix3d(0.99997, 0, 0, 0, 0, .99997, 0, 0, 0, 0, 1, 0, 0, .03908, 0, 1);
	}
	76% {
		-webkit-transform: matrix3d(1.00001, 0, 0, 0, 0, 1.00001, 0, 0, 0, 0, 1, 0, 0, .03077, 0, 1);
		transform: matrix3d(1.00001, 0, 0, 0, 0, 1.00001, 0, 0, 0, 0, 1, 0, 0, .03077, 0, 1);
	}
	80% {
		-webkit-transform: matrix3d(1.00002, 0, 0, 0, 0, 1.00002, 0, 0, 0, 0, 1, 0, 0, .01851, 0, 1);
		transform: matrix3d(1.00002, 0, 0, 0, 0, 1.00002, 0, 0, 0, 0, 1, 0, 0, .01851, 0, 1);
	}
	84% {
		-webkit-transform: matrix3d(1.00002, 0, 0, 0, 0, 1.00002, 0, 0, 0, 0, 1, 0, 0, .00719, 0, 1);
		transform: matrix3d(1.00002, 0, 0, 0, 0, 1.00002, 0, 0, 0, 0, 1, 0, 0, .00719, 0, 1);
	}
	88% {
		-webkit-transform: matrix3d(1.00002, 0, 0, 0, 0, 1.00002, 0, 0, 0, 0, 1, 0, 0, -.00078, 0, 1);
		transform: matrix3d(1.00002, 0, 0, 0, 0, 1.00002, 0, 0, 0, 0, 1, 0, 0, -.00078, 0, 1);
	}
	92% {
		-webkit-transform: matrix3d(1.00001, 0, 0, 0, 0, 1.00001, 0, 0, 0, 0, 1, 0, 0, -.00493, 0, 1);
		transform: matrix3d(1.00001, 0, 0, 0, 0, 1.00001, 0, 0, 0, 0, 1, 0, 0, -.00493, 0, 1);
	}
	96% {
		-webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -.00594, 0, 1);
		transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -.00594, 0, 1);
	}
	100% {
		-webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		opacity: 1;
	}
}