body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
body:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  font-size: 0;
  margin-left: -10px;
}
.app {
  display: inline-block;
  vertical-align: middle;
}
input:not([type]),
input[type="email"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="url"],
input[type="text"],
input[type="date"],
input[type="datetime"],
select,
textarea {
  padding: 8px 10px;
  box-sizing: border-box;
  border-radius: 1px;
  border: 1px solid #dbdbdb;
}
body,
input,
button,
textarea {
  font-family: -apple-system, "Helvetica Neue", Arial, "PingFang SC", "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  color: #404040;
}
button {
  padding: 4px 8px;
  background: none;
  border-style: solid;
  border-width: 1px;
  color: #333;
  background: linear-gradient(#FAFAFA, #F2F2F2);
  outline: none;
  line-height: 1em;
}
button:hover {
  cursor: pointer;
}
.app button {
  font-size: 25px;
  padding: 10px 15px;
  margin: 15px;
}
table td {
  padding: 3px;
  text-align: left;
}
table td:first-child {
  text-align: right;
}
table td:first-child:after {
  content: " :";
}
table input[type='text'],
table select {
  width: 100%;
}
.dialog_body {
  width: 350px;
  padding: 0 50px;
  text-align: center;
}
.dialog_logo img {
  height: 80px;
  width: 80px;
  display: block;
  margin: 0 auto;
}
.dialog_logo h1 {
  font-size: 30px;
  line-height: 1em;
  color: #000;
  font-weight: 200;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}
.dialog_logo p {
  margin: 20px 0;
  color: #000;
  text-shadow: 0 1px 0 rgba(204, 204, 204, 0.4);
}
.dialog_body button {
  font-size: 18px;
}
